.headerAvatar{
	font-size: 4.1rem;
	color: #bfbfbf;
}
.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper{
	margin-left: -300px !important;
}
.m-dropdown.m-dropdown--arrow .m-dropdown__arrow{
	color: #dfddf9 !important;
}
.m-dropdown.m-dropdown--arrow.m-dropdown--up .m-dropdown__arrow, .m-dropdown.m-dropdown--arrow .header_arrow{
	left: 73% !important;
	margin-left: 0px !important;
}
.m-dropdown.m-dropdown--arrow .header_arrow{
	color: #fff !important;
}