.dashboard-title-color{
	color: #ed7732 !important;
}
.application-title-color{
	color: #378dd8 !important;
}
.application-modal-color{
    background-color: #378dd8 !important;
    color: #fff !important;
}
.application-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #378dd8;
    border-radius: 5px;
}
.application-header-bg{
	background-color: #378dd8 !important;
}
.pet-title-color{
	color: #875599 !important;
}
.pet-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #875599;
    border-radius: 5px;
}
.pet-header-bg{
	background-color: #875599 !important;
}
.invoice-title-color{
	color: #a8704f !important;
}
.invoice-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #a8704f;
    border-radius: 5px;
}
.invoice-header-bg{
	background-color: #a8704f !important;
}
.payment-title-color{
	color: #3CABAF !important;
}
.payment-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #3CABAF;
    border-radius: 5px;
}
.payment-header-bg{
	background-color: #3CABAF !important;
}
.provider-title-color{
	color: #3aa7be !important;
}
.provider-modal-color{
    background-color: #3aa7be !important;
    color: #fff !important;
}
.provider-modal-color:hover{
    background-color: #248296 !important;
    color: #fff !important;
}
.provider-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #3aa7be;
    border-radius: 5px;
}
.provider-circle-border{
    border-color: #3aa7be !important;
}
.provider-circle-border:hover{
    border-color: #248296 !important;
}
.provider-header-bg{
	background-color: #3aa7be !important;
}
.certificate-title-color{
	color: #649b91 !important;
}
.certificate-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #649b91;
    border-radius: 5px;
}
.certificate-header-bg{
	background-color: #649b91 !important;
}
.email-title-color{
	color: #dd587e !important;
}
.email-border-color{
	-webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid #dd587e;
    border-radius: 5px;
}
.email-header-bg{
	background-color: #dd587e !important;
}
.application-header-bg h3,.pet-header-bg h3, .invoice-header-bg h3, .payment-header-bg h3, .provider-header-bg h3, .certificate-header-bg h3, .email-header-bg h3{
	color: #fff !important;
}
.support-title-color{
    color: rgb(202, 97, 68) !important;
}
.support-border-color{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid rgb(202, 97, 68);
    border-radius: 5px;
}
.support-header-bg{
    background-color: rgb(202, 97, 68) !important;
}
.mailList-title-color{
    color: rgb(157, 57, 120) !important;
}
.mailList-border-color{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border-top: 5px solid rgb(157, 57, 120);
    border-radius: 5px;
}
.mailList-header-bg{
    background-color: rgb(157, 57, 120) !important;
}