body .m-header-menu.m-header-menu--submenu-skin-light .m-menu__nav > .m-menu__item .m-menu__submenu > .m-menu__subnav .m-menu__content > .m-menu__item {
	border-color: #f0f1f6;
}

.nav-date-time {
	padding-top: 20px !important;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    color: #0e0e0e;
    min-width: 185px;
    border-right: 1px solid #ddd;
}