.bg-form-title-box{
	background-color:#36A3F7;
	color: #fff;
}
.c-form-title{
	color: #fff !important;
}
.terms-title{
	text-align: center;
}
.terms-title h3{
	font-size: 1.3rem;
    font-weight: 500;
    font-family: Roboto;
}
.m-portlet__body{
	.text-center{
		padding-bottom: 5px;
	}
}
.terms-client{
margin-top: 15px;
}